@media only screen and (max-width:768px) {
    nav ul {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    nav ul li {
        text-align: center;
        margin-top: 2rem;
    }

    nav ul li a{
        color: #fff;
    }
    .watches-container{
        padding: 0 1.2rem;
    }

}

@media only screen and (max-width:350px){
    nav{

        padding: 0 0.5rem;
    }
}

@media (max-width: 992px){
    .card{
        width: 45%;
    }

    #contact h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 576px){
    .card{
        width: 90%;
    }

    .card-heading h1{
        font-size: 2rem;
    }
    .main-content h1{
        font-size: 3rem;
    }
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}